@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;700;900&display=swap');

.login {
  font-family: 'Montserrat', sans-serif;
  width: 100vw;
  height: 100vh;
}

.field {
  position: fixed;
  top: calc(50% - 278px);
  left: calc(50% - 234px);
  width: 468px;
  height: 556px;
  margin: 0 auto;
  background: rgba(249,249,249,0.83);
}

.bk_img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #131415;
}

.field__label {
  font-size: 30px;
  color: #656464;
  letter-spacing: 0;
  text-align: center;
  padding-left: 10px;
  padding-top: 5px;
}

.field__enter_p {
  font-size: 21px;
  color: #656464;
  letter-spacing: 0;
  padding-left: 36px;
  padding-top: 3px;
}

.form__nickname {
  border: 1px solid #979797;
  border-radius: 8px;
  width: 404px;
  height: 54px;
  padding-left: 0px;
  margin-left: 36px;
}

.form__nickname_p {
  font-weight: 100;
  font-size: 18px;
  color: #656464;
  letter-spacing: 0;
  border: 0px;
  background: rgba(255, 255, 255, 0);
  padding-top: 15px;
  padding-left: 20px;
}

.form__password {
  border: 1px solid #979797;
  border-radius: 8px;
  width: 404px;
  height: 54px;
  padding-left: 0px;
  margin-left: 36px;
  margin-top: 20px;
}

.form__password_p {
  font-weight: 100;
  font-size: 18px;
  color: #656464;
  letter-spacing: 0;
  border: 0px;
  background: rgba(255, 255, 255, 0);
  padding-top: 15px;
  padding-left: 20px;
}

.register_p {
  font-size: 15px;
  color: #656464;
  letter-spacing: 0;
  padding-top: 0;
  padding-left: 20px;
  margin-left: 36px;
}

.form_submit {
  background: #D8D8D8;
  border: 1px solid #979797;
  border-radius: 8px;
  margin-left: 303px;
  margin-top: 29px;
  width: 137px;
  height: 54px;
}

.form_submit_p {
  font-size: 19px;
  color: #656464;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 12px;
}

.form__surname {
  border: 1px solid #979797;
  border-radius: 8px;
  width: 404px;
  height: 54px;
  padding-left: 0px;
  margin-left: 36px;
  margin-top: 20px;
}

.form__surname_p {
  font-weight: 100;
  font-size: 18px;
  color: #656464;
  letter-spacing: 0;
  border: 0px;
  background: rgba(255, 255, 255, 0);
  padding-top: 15px;
  padding-left: 20px;
}

.form__name {
  border: 1px solid #979797;
  border-radius: 8px;
  width: 404px;
  height: 54px;
  padding-left: 0px;
  margin-left: 36px;
  margin-top: 20px;
}

.form__name_p {
  font-weight: 100;
  font-size: 18px;
  color: #656464;
  letter-spacing: 0;
  border: 0px;
  background: rgba(255, 255, 255, 0);
  padding-top: 15px;
  padding-left: 20px;
}
